@import '../Main/main.scss';

.cards-container {
  background: #f7f7f7; // Fond gris du conteneur parent
  padding: 40px; // Espacement interne
  border-radius: 30px; // Coins arrondis pour le conteneur
  display: grid;
  gap: 30px; // Espacement entre les cards
  margin: 20px auto; // Centrage horizontal et espacement vertical
  max-width: 1200px; // Largeur maximale du conteneur
  width: 100%; // S'adapte à l'écran
  box-sizing: border-box; // Inclut le padding dans la largeur totale

  // Mobile (335px à 767px)
  @media (min-width: 335px) and (max-width: 767px) {
    grid-template-columns: 1fr; // 1 card par ligne
  }

  // Tablette (768px à 1023px)
  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: 1fr; // 1 card par ligne
  }

 // Desktop (1024px à 1439px)
 @media (min-width: 1024px) and (max-width: 1439px) {
  grid-template-columns: repeat(2, 1fr); // 2 cards par ligne
  justify-items: center;
}

  // Large Desktop (1440px et plus)
  @media (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr); // 3 cards par ligne
  }
}

.card {
  position: relative; // Nécessaire pour superposer le texte sur l'image
  overflow: hidden; // Masquer tout débordement
  border-radius: 25px; // Coins arrondis
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Ombre légère
  width: 100%; // Largeur des cards
  height: 400px; // Hauteur fixe
  max-width: 500px; // Largeur maximale des cards
  margin: auto;

  &:hover {
    transform: scale(1.05); // Zoom léger au survol
  }
    .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover; // Recadrage de l'image
    }
    .card-title {
      position: absolute;
      bottom: 15px;
      left: 15px;
      right: 15px;
      color: white; // Couleur blanche pour le texte
      font-size: 1.2rem; /* Ajustement de la taille du texte */
      font-weight: 500; /* Style de police similaire à l'exemple */
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); // Effet d'ombre légère pour rendre le texte lisible
    }
}