@import '../Main/main.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: white;

  .logo {
    font-size: 4rem;
    color: #FF6060;
    svg {
      margin: 0 5px; // Espacement autour de l'icône
      transform: translateY(5px);
    }
  }

  nav {
    display: flex;
    gap: 10px; /* Espacement entre les liens */
    a {
      margin-left: 20px;
      color: red;
      font-family: 'Montserrat', sans-serif;
      .active-link { 
        text-decoration: underline;
      }
    }
      .apropos { 
        text-decoration: none;
      } 
  }
}