@import '../Main/main.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: white;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
  }

  nav {
    display: flex;
    gap: 10px; /* Espacement entre les liens */
    a {
      margin-left: 20px;
      color: red;
      text-decoration: none;
      
    }
  }
}