.banner {
  background-image: url("../images/banner-image.JPG");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 2rem; }
  .banner h1 {
    color: white;
    font-size: 2.5rem; }

