.banner {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  max-width: 91%; 
  border-radius: 27px;

  h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 5px black;
  }
}